#fxTimi, #fxStig {
    -fx-font-size: 20px;
}

.label {
    -fx-font-size: 20px;
}


#fxLeikbord1 {
    -fx-background-color: grey;
}
#fxLeikbord2 {
    -fx-background-color: grey;
}


#fxStillingar {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}



